/******************************
* INDEX *
******************************/
.entrada {
    transform: rotate(0deg);
    transition: transform .6s ease;
}
.entrada:hover {
    transform: scale(1.05) translateY(-20px);
    z-index: 2;
    box-shadow: 0 0 40px rgba(0,0,0,.15);
}
.entrada .image{
    height:325px;
}
.entrada .image img{
    height:100%;
    width:100%;
    object-fit: cover;
}

/******************************
* POST *
******************************/
.post .image{
    height:80vh;
}
.post .image img{
    height:100%;
    width:100%;
    object-fit: cover;
}
